@tailwind base;
@tailwind components;
@tailwind utilities;
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&family=Rubik:wght@300;400;500&display=swap');
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'sans';
  }
  